.hero__about {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 45px;
}

@media screen and (max-width: 1600px) {
  .hero__about {
    column-gap: 25px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .hero__about {
    padding-bottom: 0;
  }
}
