.hardware__card {
  position: relative;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  color: black;
  background-color: white;
  background-image: url('../../../images/mask.png');
  clip-path: polygon(0% 12%, 7% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: 690px;
}

.hardware__card:nth-child(2) {
  clip-path: polygon(0% 12%, 7% 0%, 100% 0%, 100% 88%, 93% 100%, 0% 100%);
}

@media screen and (max-width: 1600px) {
  .hardware__card {
    width: 390px;
    padding: 35px 85px;
  }
}

@media screen and (max-width: 1280px) {
  .hardware__card {
    width: 290px;
    padding: 25px 70px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .hardware__card {
    width: 490px;
    padding: 25px 70px 30px;
  }
}

@media screen and (max-width: 768px) {
  .hardware__card {
    width: 390px;
    padding: 25px 70px 30px;
  }
}

@media screen and (max-width: 650px) {
  .hardware__card {
    width: 380px;
    padding: 25px 30px 30px;
  }
}

@media screen and (max-width: 500px) {
  .hardware__card {
    width: 300px;
    padding: 15px 10px 15px;
    row-gap: 5px;
  }
}
