.price__heading-left {
  position: absolute;
  top: 251px;
  left: 0;
  width: 10%;
  height: 41px;
  background-image: url('../../../images/decor-11.png');
  background-position-x: -40px;
}

@media screen and (max-width: 1600px) {
  .price__heading-left {
    height: 41px;
    top: 245px;
  }
}

@media screen and (max-width: 768px) {
  .price__heading-left {
    display: none;
  }
}
