.hero__buster {
  width: 640px;
  height: 1409px;
  transform: translate(0, 75px);
}

@media screen and (max-width: 1600px) {
  .hero__buster {
    width: 550px;
    height: 1211px;
    transform: translate(0, 75px);
  }
}

@media screen and (max-width: 1280px) {
  .hero__buster {
    width: 425px;
    height: 936px;
    transform: translate(-20px, 55px);
  }
}

@media screen and (max-width: 1000px) {
  .hero__buster {
    width: 425px;
    height: 936px;
    transform: translate(20px, 15px);
  }
}

@media screen and (max-width: 500px) {
  .hero__buster {
    width: 425px;
    height: 936px;
    transform: translate(10px, 10px);
  }
}
